<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="message__text-form">
        <input type="text" name="message" class="message__text">
        <button type="submit" class="add__messages">Add Message</button>
    </form>
    
    <div class="messages-container">

    </div>
    <script src="/js/messages.js"></script>
</body>
</html>