<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form class="room__text-form">
        <input type="text" class="topic__name" name="topic">
        <button type="submit" class="add__topic">create Topic</button>
    </form>
    
    <div class="topic-container">
        <% for(var i = 0; i < chatroom.length; i++) {%>
            <div class="topic-container__single-topic">
               <p>Topic: <b class="topic-container__topic-name"> <%= chatroom[i].topic %></b></p> 
               <p>messages:<b> <%= chatroom[i].messages.length %></b> </p> 
            </div>
        <%}%>
    </div>
    <script src="/js/room.js"></script>
</body>
</html>