<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="topic-name"><%= chatroom.topic %></h1>
    <form class="message__text-form">
        <input type="text" class="add__message" name="message">
        <button type="submit" class="add__message-btn">create message</button>
    </form>
    
    <div class="messages-container">
        <%= chatroom.messages %>
    </div>
    <script src="/js/chat.js"></script>
</body>
</html>