<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="login-app-container">
        <form class="login-app-container__signup-form">
            <label for="email"><b>Username</b></label>
            <input type="text" placeholder="Email" name="email" required>
            <div class="email-error"></div>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <div class="password-error"></div>
            <button type="submit">Sign Up</button>
        </form>
    </main>
    <script src="/js/signup.js"></script>
</body>
</html>