.message__text-form {
    width:100%;
    height:100px;
    position:fixed;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add__message-btn {
    margin-bottom:0;
}

.add__message {
    padding:10px;
    border-radius:10px;
    text-align: left;
    resize:none;
}

@media all and (min-width: 768px) {
    .add__message {
        width:60%;
    }

}